<div class="signup-container">
  <h3>Forgot your password?</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "signup-form") do |f| %>
    <%= devise_error_messages! %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, id: "email" %>
    </div>
    <div>
      <%= f.submit "Send me reset password instructions", class: "button" %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

