<div class="network-metrics left">
  <div class="chart-container"></div>
</div>

<div class="wrapper">
  <div class="network-filters-container">
    <ul class="network-filters">
      <li class="tab-menu first <%= params.has_key?(:member_type) ? '' : 'active' %>">
        <%= link_to "All", params.merge(:member_type => nil, :page => nil, :major_field => nil, :country => nil), :class => "label" %>
      </li>
      <li class="tab-menu <%= params[:member_type] == 'Professional' ? 'active' : '' %>">
        <%= link_to "Professionals", params.merge(member_type: "Professional", :page => nil, :major_field => nil, :country => nil), :class => "label" %>
      </li>
      <li class="tab-menu last <%= params[:member_type] == 'Student' ? 'active' : '' %>">
        <%= link_to "Students", params.merge(member_type: "Student", :page => nil, :major_field => nil, :country => nil), :class => "label" %>
      </li>
      <li class="dropdown-menu">
        <a class="label">Country</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <li><%= link_to "All Countries", params.merge(:country => nil, :page => nil) %></li>
            <% @countries.each do |c| %>
              <% if (params[:country] == c.residence_country) %>
                <li class="active" stye="color: red"><%= link_to c.residence_country, params.merge(country: c.residence_country, :page => nil) %></li>
              <% end %>
            <% end %>
            <% @countries.each do |c| %>
              <% if (params[:country] != c.residence_country) %>
                <li><%= link_to c.residence_country, params.merge(country: c.residence_country, :page => nil) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu">
        <a class="label">Major Field</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <li><%= link_to "All Fields", params.merge(:major_field => nil, :page => nil) %></li>
            <% @major_fields.each do |f| %>
              <% if (params[:major_field] == f.major_field_name) %>
                <li class="active"><%= link_to f.major_field_name, params.merge(major_field: f.major_field_name, :page => nil) %></li>
              <% end %>
            <% end %>
            <% @major_fields.each do |f| %>
              <% if (params[:major_field] != f.major_field_name) %>
                <li><%= link_to f.major_field_name, params.merge(major_field: f.major_field_name, :page => nil) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="network-table-container">
    <table class="network-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Occupation</th>
          <th>Major</th>
          <th>Affiliation</th>
          <th>Field Keywords</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |u,i| %>
        <tr class="<%= i.odd? ? 'odd' : 'even' %>">
          <td><%= u.user_info.first_name %> <%= u.user_info.last_name %></td>
          <td><%= u.user_info.occupation %></td>
          <td><%= u.user_info.major_field_name %></td>
          <td><%= u.user_info.organization_one %></td>
          <td><%= u.user_info.field_keywords %></td>
          <td><a href="mailto:<%= u.email %>">icon</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @users %>
</div>