<div class="network-metrics left">
  graphs here
</div>

<div class="wrapper">
  <div class="network-filters-container">
    <ul class="network-filters">
     <!-- <li class="dropdown-menu">
        <a class="label">Country</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <% @countries.each do |country| %>
              <li><a><%= country.name %></a></li>
            <% end %>
          </ul>
        </div>
      </li> -->
      <li class="dropdown-menu">
        <a class="label">Country</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <li><a>Philippines</a></li>
            <li><a>Japan</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu">
        <a class="label">Major Field</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <% @major_fields.each do |f| %>
            <li><a><%= f.major_field_name %></a></li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="dropdown-menu">
        <a class="label">Minor Field</a>
        <div class="filter">
          <a class="icon icon-arrow-down"></a>
          <ul>
            <% @minor_fields.each do |f| %>
            <li><a><%= f.minor_field_name %></a></li>
            <% end %>
          </ul>
        </div>
      </li>
      <!--<%= select_tag 'person', options_from_collection_for_select(Country.all, 'code', 'name') %>--> 
    </ul>
  </div>
  <div class="network-table-container">
    <table class="network-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Occupation</th>
          <th>Major</th>
          <th>Affiliation</th>
          <th>Field Keywords</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |u,i| %>
        <tr class="<%= i.odd? ? 'odd' : 'even' %>">
          <td><%= u.user_info.first_name %> <%= u.user_info.last_name %></td>
          <td><%= u.user_info.occupation %></td>
          <td><%= u.user_info.major_field_name %></td>
          <td><%= u.user_info.organization_one %></td>
          <td><%= u.user_info.field_keywords %></td>
          <td><%= u.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @users %>
</div>