<div class="main">
  <% if user_signed_in? %>
    <div class="align-right">
      <%= link_to "Sign out", destroy_user_session_path %>
    </div>
  <% else %>
    <div class="signup-container right">
      <h3>Sign in</h3>
      <%= form_for(:user, url: session_path(User), class: "signup-form") do |f| %>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, id: "email" %>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", id: "password" %>
        </div>
        <div>
          <%= f.submit "Sign in", class: "button" %>
        </div>
        <div>
          <%= link_to "Sign up", new_user_registration_path %><br />
          <%= link_to "Forgot your password?", new_user_password_path %><br />
        </div>
      <% end %>
    </div>
  <% end %>
  
  <div class="intro ">
    <h1>PINE</h1>
    <h2>Philippine International Network of Experts</h2>
    <ul>
      <li>
        <h3>
          <span class="icon icon-domain"></span>
          <span class="title">Provide Career Opportunities</span>
        </h3>
      </li>
      <li>
        <h3>
          <span class="icon icon-people"></span>
          <span class="title">Filipino Experts Network</span>
        </h3>
      </li>
      <li>
        <h3>
          <span class="icon icon-school"></span>
          <span class="title">Brain-charge the Philippines</span>
        </h3>
      </li>
    </ul>
  </div>
</div>