<div class="signup-container">
  <h3>Sign in</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "signup-form") do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, id: "email" %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", id: "password" %>
    </div>
    <div>
      <%= f.submit "Sign in", class: "button" %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

